PORT=4000

DATABASE_URL=postgresql://TU_USUARIO:TU_PASSWORD@TU_HOST.neon.tech/cecyte?sslmode=require // EJEMPLO 


JWT_SECRET=#CAMBIA_POR_UNA_CLAVE_(EJEMPLO)

JWT_EXPIRES_IN=7d

# URL del frontend (para CORS). En desarrollo: http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Entorno: 'development' o 'production'
NODE_ENV=development
